{{#if states}}
<table class="table table-striped table-bordered table-dresponsive">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Registration</th>
            <th scope="col">Altitude</th>
            <th scope="col">Speed</th>
            <th scope="col">Course</th>
            <th scope="col">Vertical speed</th>
            <th scope="col">Position</th>
            <th scope="col">Turn rate</th>
        </tr>
    </thead>
    <tbody>
        {{#each states}}
        <tr>
            <td class="variable-value">
                {{#if aircraft.registration}}
                <b>{{aircraft.registration}}</b>
                {{#if aircraft.call_sign}}({{aircraft.call_sign}}){{/if}}
                <br>{{aircraft.model}}
                {{/if}}
                {{#unless aircraft.registration}}
                <i>unknown</i>
                {{#if aircraft.model}}<br>{{/if}}
                {{aircraft.model}}
                {{/unless}}
            </td>
            <td class="variable-value">
                {{#if altitude}}{{altitude}} <i>m</i>{{/if}}
                {{#unless altitude}}-{{/unless}}
            </td>
            <td class="variable-value">
                {{#if speed}}{{speed}} <i>km/h</i>{{/if}}
                {{#unless speed}}-{{/unless}}
            </td>
            <td class="variable-value">
                {{#if course}}{{course}} <i>°</i>{{/if}}
                {{#unless course}}-{{/unless}}
            </td>
            <td class="variable-value">
                {{#if vertical_speed}}{{vertical_speed}} <i>m/s</i>{{/if}}
                {{#unless vertical_speed}}-{{/unless}}
            </td>
            <td class="variable-value">
                {{#if turn_rate}}{{turn_rate}} <i>turns/min</i>{{/if}}
                {{#unless turn_rate}}-{{/unless}}
            </td>
            <td class="variable-value">
                {{position.latitude}}<br>
                {{position.longitude}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
{{#unless states}}
<div class="alert alert-secondary" role="alert">
    Nothing's above you :(
</div>
{{/unless}}