{{#if states}}
<table class="table table-striped table-bordered table-dresponsive">
    <thead>
        <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Altitude</th>
            <th scope="col">Speed</th>
            <th scope="col">Course</th>
            <th scope="col">Vertical speed</th>
            <th scope="col">Turn rate</th>
            <th scope="col">Position</th>
            <th scope="col">Last status</th>
        </tr>
        <tr class="table-primary units">
            <th scope="col">
                <b>Registration</b> (call sign)<br>
                Model / type
            </th>
            <th scope="col">m</th>
            <th scope="col">km/h</th>
            <th scope="col">°</th>
            <th scope="col">m/s</th>
            <th scope="col">turns/min</th>
            <th scope="col">
                Link to map<br>
                (<i><a href="https://live.glidernet.org/">live.glidernet.org</a></i>)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each states}}
        <tr>
            <td class="variable-value">
                {{#if aircraft.registration}}
                <b>{{aircraft.registration}}</b>
                {{#if aircraft.call_sign}}({{aircraft.call_sign}}){{/if}}
                <br>{{aircraft.model}}
                {{/if}}
                {{#unless aircraft.registration}}
                <i>unknown</i>
                {{#if aircraft.model}}<br>{{/if}}
                {{aircraft.model}}
                {{/unless}}
            </td>
            <td class="variable-value">
                {{#if altitude}}{{altitude}}{{/if}}
                {{#unless altitude}}-{{/unless}}
            </td>
            <td class="variable-value">
                {{#if speed}}{{speed}}{{/if}}
                {{#unless speed}}-{{/unless}}
            </td>
            <td class="variable-value">
                {{#if course}}{{course}}{{/if}}
                {{#unless course}}-{{/unless}}
            </td>
            <td class="variable-value">
                {{#if vertical_speed}}{{vertical_speed}}{{/if}}
                {{#unless vertical_speed}}-{{/unless}}
            </td>
            <td class="variable-value">
                {{#if turn_rate}}{{turn_rate}}{{/if}}
                {{#unless turn_rate}}-{{/unless}}
            </td>
            <td class="variable-value">
                <a href="https://live.glidernet.org/#c={{position.latitude}},{{position.longitude}}&z=15&s=1"
                    target="_blank">
                    {{position.latitude_text}}<br>
                    {{position.longitude_text}}
                </a>
            </td>
            <td class="variable-value">
                {{time_diff}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
{{#unless states}}
<div class="alert alert-secondary" role="alert">
    Nothing's above you :(
</div>
{{/unless}}